@model List<string>

@{
    ViewData["Title"] = "CallBackendSvc";
}

@{
    var idp = User.Claims.FirstOrDefault(c => c.Type == "idp");
    string sub = (idp != null) ? idp.Value : "";
}
<h1>access storage using Lighthouse Provider service principal, auth provider @sub</h1>

<h2 class="display-4">Blobs</h2>
<dl>
    @foreach (var item in Model)
    {
        <dt>@item</dt>
    }
</dl>
